<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>
<h2>{{ album.artist }}</h2>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}  <!-- For every song in album -->
        <input type="radio" id="song{{ forloop.counter }}" name="fav" value="{{ song.id }}" />  <!-- Add button for each-->
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698904-icon-23-star-128.png" width="32" height="32" />
            {% endif %}
        </label> <br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>